body {
  background: #eee;
  font: 300 100%/1.5 'Roboto', sans-serif;
}

header {
	background: #741b47;
}

header h1 {
	color: #fff;
	font-size: 4em;
	text-align: center;
}

header a {
	padding-right: 20px;
	color: #fff;
	font-size: 1.5em;
}

.navbar-default {
	background: #741b47;
	border-color: #741b47;
}

#footer {
    background: #741b47;
	color: #fff;
    padding: 1em 0;
    text-align: center;
}
.navbar-fixed-bottom {
    bottom: 0;
    margin-bottom: 0;
    border-width: 1px 0 0;
}
