body {
  background: #eee;
  font: 300 100%/1.5 'Roboto', sans-serif;
}

main {
    margin-bottom: 8em;
}

/*******************************************************************************
									xoxoxoxoxo
									x HEADER x
									xoxoxoxoxo
*******************************************************************************/

header {
	background: #741b47;
	font-family: 'Lobster', cursive;
}

header h1 {
	color: #fff;
	font-size: 5em;
	text-align: center;
	margin-bottom: 10px;
}

header a {
	margin-top: 4px;
	padding-right: 40px;
	padding-left: 10px;
	color: #fff;
	font-size: 1.5em;
	float: left;
}

input {
	padding: 5px 20px 5px 5px;
	margin-right: 10px;
	float: left;
}

button {
	padding: 5px 10px 5px 10px;
}

.navbar-default {
	background: #741b47;
	border-color: #741b47;
	padding-top: 15px;
}


/*******************************************************************************
									xoxoxoxoxo
									x ACCUEIL x
									xoxoxoxoxo
*******************************************************************************/

#acceuil {
	margin-top: 50px;
}

#acceuil img {
	width: 50%;
	float: left;
}

.intro-acceuil {
	float: right;
}
#acceuil {
	display: block;
	padding-top: 50px;
	padding-bottom: 30px;
	background-color: #fff;
}

#acceuil img {
	width: 50%;
	border: 2px solid #741b47;
	border-radius: 10px;
	margin-bottom: 20px;
}

#acceuil button {
	float: left;
	background-color: #3b5998;
	border: 0.5px solid #3b5998;
	color: #fff;
	border-radius: 3px;
	font-size: 1em;
	font-weight: bold;
}

.img-acceuil {
	float: left;
}

.intro-acceuil {
	width: 550px;
	text-align: left;
	float: right;
	font-size: 1.2em;
}

.intro-acceuil h1 {
	font-size: 2em;
	font-weight: bold;
}


/*******************************************************************************
									xoxoxoxoxo
									x SIGNUP x
									xoxoxoxoxo
*******************************************************************************/
.signup {
  position: relative;
  float: right;
  top : 100px;
  left: center;
  width :150px;
  height:80px;
  display: none;
}

#signup-form button  {
	background-color: #741b47:
}


/*******************************************************************************
									xoxoxoxoxo
									x FOOTER x
									xoxoxoxoxo
*******************************************************************************/


#footer {
	font-family: 'Lobster', cursive;
	font-size: 1.5em;
    background: #741b47;
	color: #fff;
    padding: 1em 0;
    text-align: center;
}
.navbar-fixed-bottom {
    bottom: 0;
    margin-bottom: 0;
    border-width: 1px 0 0;
}
