body {
  background: #eee;
  font: 300 100%/1.5 'Roboto', sans-serif;
}

header {
	background: #741b47;
	font-family: 'Lobster', cursive;
}

.site-logo {
  float: left;
  width: 80px;
  margin-right: 20px;
  margin-left: 10px;
}

#menu ul {
 font-size: 1em;
 margin:0;
 padding:25px 0 0 0;
 list-style-type:none;
 text-align:center;
 }

#menu li {
 float:left;
 font-size: 1.6em;
 margin:auto;
 padding:3px 0 10px 3px;
 background-color: #741b47;
 }

#menu li a {
 color:white;
 text-decoration:none;
 padding: 10px 25px 15px 5px;
 }

#menu li a:hover {
 color:#c67da1;
 transition-property: color,font-size;
 transition-duration: 0.3s;
 }

#menu ul li ul {
 display:none;
 }

#menu ul li:hover ul {
 padding-top: 10px;
 display:block;
 text-align: left;
 }

#menu li:hover ul li {
 float:none;
 }

 #menu li ul {
 font-size: 0.5em;
 position:absolute;
 }

input {
	padding: 5px 20px 5px 10px;
	margin-right: 10px;
	margin-left: 10px;
	float: left;
	font-size: 1.2em;
}

button {
	padding: 5px 10px 5px 10px;
	font-size: 1.2em;
	color: #741b47;
}

.navbar-default {
	background: #741b47;
	border-color: #741b47;
	padding-top: 15px;
}

#footer {
	font-family: 'Lobster', cursive;
	font-size: 1.5em;
    background: #741b47;
	color: #fff;
    padding: 1em 0;
    text-align: center;
}
.navbar-fixed-bottom {
    bottom: 0;
    margin-bottom: 0;
    border-width: 1px 0 0;
}

#acceuil {
	display: block;
	padding-top: 50px;
	padding-bottom: 30px;
	background-color: #fff;
}

#acceuil img {
	width: 50%;
	border: 2px solid #741b47;
	border-radius: 10px;
	margin-bottom: 20px;
}

#acceuil button {
	float: left;
	background-color: #3b5998;
	border: 0.5px solid #3b5998;
	color: #fff;
	border-radius: 3px;
	font-size: 1em;
	font-weight: bold;
}

.img-acceuil {
	float: left;
}

.intro-acceuil {
	width: 550px;
	text-align: left;
	float: right;
	font-size: 1.2em;
}

.intro-acceuil h1 {
	font-size: 2em;
	font-weight: bold;
}

.intro-acceuil p {
	font-size: 1.2em;
}
